@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

html, body {
    display: grid;
    height: 100%;
    place-items: center;
    text-align: center;
    background: #202020;
}

.wrapper {
    padding: 20px 30px;
    color: #e5e5e5;
    background: #000;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    font-size: 24px;
    font-weight: 600;
}

.wrapper p {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

.wrapper .btns {
    display: flex;
    margin: 30px 0 20px 0;
}

.wrapper .btns a {
    font-weight: 500;
    font-size: 16px;
    height: 60px;
    width: 200px;
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0 20px 0 20px;
    text-decoration: none;
    line-height: 60px;
    text-transform: none;
    letter-spacing: 1px;
    color: #e5e5e5;
    border-radius: 30px;
    box-shadow: 4px 4px 5px rgba(255, 255, 255, 0.25);    
}

.wrapper .btns a:first-child {
    background: linear-gradient(-80deg, #ff2cd6, #00ddfb);
}

.wrapper .btns a:last-child {
    background: linear-gradient(80deg, #8a2cff, #008bff);
}

.wrapper .btns a > span {
    position: absolute;
    background: #fff;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    pointer-events: none;
    animation: ripples 0.6s linear infinite;
}

@keyframes ripples {
    0% {
        width: 0px;
        height: 0px;
        opacity: 0.5;
    }

    100% {
        height: 500px;
        width: 500px;
        opacity: 0;
    }
}